<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <th:block th:insert="~{navbar :: link}">.</th:block>

</head>
<body style="/*noinspection CssUnknownTarget*/background-image: url('/images/Fon.png')">
<header th:insert="~{navbar :: .navbar}">

</header>
<!--Book edit modal-->
<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="book-form">
                    <input type="text" id="book-id" value="0" hidden="hidden" name="id">
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Назва:</label>
                        <input type="text" class="form-control" id="name" name="name" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="author" class="col-form-label">Автор:</label>
                        <input type="text" class="form-control" id="author" name="author" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="year" class="col-form-label">Рік видання:</label>
                        <input type="text" class="form-control" id="year" name="year" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="type" class="col-form-label">Тип:</label>
                        <input type="text" class="form-control" id="type" name="type" required="required"
                               readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="publisher" class="col-form-label">Видавництво:</label>
                        <input type="text" class="form-control" id="publisher" name="publisher" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="col-form-label">Кількість:</label>
                        <input type="text" class="form-control" id="quantity" name="quantity" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="size" class="col-form-label">Розмір:</label>
                        <input type="text" class="form-control" id="size" name="size" required="required">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" onclick="bookSave()">Зберегти</button>
            </div>
        </div>
    </div>
</div>

<!--Book Write-off modal-->
<div class="modal fade" id="writeoffModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="writeoffModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="writeoff-form">
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Назва:</label>
                        <input type="text" class="form-control" id="wname" name="name" required="required" readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="col-form-label">Кількість:</label>
                        <input type="text" class="form-control" id="wquantity" name="quantity" required="required">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" onclick="bookWriteOff()">Зберегти</button>
            </div>
        </div>
    </div>
</div>
<!--Book Earning modal-->
<div class="modal fade" id="earningModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="earningModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="earning-form">
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Назва:</label>
                        <input type="text" class="form-control" id="ename" name="name" required="required" readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="col-form-label">Кількість:</label>
                        <input type="text" class="form-control" id="equantity" name="quantity" required="required">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" onclick="bookEarn()">Зберегти</button>
            </div>
        </div>
    </div>
</div>


<div class="container py-3 pe-1" style="min-width: max-content">
    <main>
        <div>
            <button style="min-width: 164px" class="btn btn-secondary mt-2 mb-1" type="button"
                    data-bs-toggle="collapse"
                    th:data-bs-target="${'#collapseSchool'}" aria-expanded="false"
                    th:aria-controls="${'collapseSchool'}" onclick="pupolateBookTable('school')">
                Підручники
            </button>
        </div>
        <div class="collapse" th:id="${'collapseSchool'}">
            <div class="card card-body">
                <div class="table-responsive schoolbook-wrapper">
                    <table class="table text-center table-striped table-dark schoolbook-table">
                        <thead>
                        <tr>
                            <th>Назва</th>
                            <th>Автор</th>
                            <th>Рік видання</th>
                            <th>Видавництво</th>
                            <th>Всього</th>
                            <th>Залишок</th>
                            <th>Розмір</th>
                            <th>Списання</th>
                            <th>Надходження</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <button style="min-width: 164px" class="btn btn-secondary mt-2 mb-1" type="button"
                    data-bs-toggle="collapse"
                    th:data-bs-target="${'#collapseFiction'}" aria-expanded="false"
                    th:aria-controls="${'collapseFiction'}" onclick="pupolateBookTable('fiction')">
                Художні книги
            </button>
        </div>
        <div class="collapse" th:id="${'collapseFiction'}">
            <div class="card card-body">
                <div class="table-responsive fictionbook-wrapper">
                    <table class="table text-center table-striped table-dark fictionbook-table">
                        <thead>
                        <tr>
                            <th>Назва</th>
                            <th>Автор</th>
                            <th>Рік видання</th>
                            <th>Видавництво</th>
                            <th>Всього</th>
                            <th>Залишок</th>
                            <th>Розмір</th>
                            <th>Списання</th>
                            <th>Надходження</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</div>
<th:block th:insert="~{navbar :: script}">.</th:block>
<script>
    function pupolateBookTable(tag) {
        if ($.fn.dataTable.isDataTable('.' + tag + 'book-table')) {
            return;
        }
        let table = $('.' + tag + 'book-table').DataTable({
            ajax: {
                url: '/books/' + tag,
                dataSrc: ""
            },
            info: true,
            bAutoWidth: true,
            buttons: [
                {
                    text: 'Додати нову книгу',
                    action: function () {
                        $('#bookModal').modal('show');
                        console.log("Hello!");
                        //$('#bookModal #type').attr('readonly', false).val(tag==='school'?'Підручник':'Художня книга');
                        $('#bookModal #type').val(tag === 'school' ? 'Підручник' : 'Художня книга');
                    }
                }
            ],
            columns: [
                {data: "name"},
                {data: "author"},
                {data: "publishYear"},
                {data: "publisher"},
                {data: "quantity"},
                {data: "balance"},
                {data: "size"},
                {
                    "render": function (data, type, full, meta) {
                        return '<button class="btn btn-secondary" onclick="openWriteOffModal(\'' + full.name + '\')">Списати</button>';
                    }
                },
                {
                    "render": function (data, type, full, meta) {
                        return '<button class="btn btn-secondary" onclick="openEarningsModal(\'' + full.name + '\')">Додати</button>';
                    }
                }
            ],
            language: {
                url: "./json/Ukrainian.json"
            },
            initComplete: function (settings, json) {
                console.log('initcomplete');
                table.buttons(0, null).container()
                    .appendTo('.' + tag + 'book-wrapper .dataTables_length');
            }
        });
    }

    function openWriteOffModal(id) {
        console.log('method')

        $('#writeoffModal #wname').val(id);
        $('#writeoffModal #wquantity').val(0).trigger("input");
        $('#writeoffModal').modal('show');


    }

    function openEarningsModal(id) {
        console.log('method')

        $('#earningModal #ename').val(id);
        $('#earningModal #equantity').val(0).trigger("input");
        $('#earningModal').modal('show');


    }


    function bookSave() {
        let form = $('#book-form');
        $.ajax({
            type: "POST",
            url: "/books/save",
            data: form.serialize(),
            success: function () {
                reloadTables();
                $('#bookModal').modal('hide');
            }
        });
    }

    function bookWriteOff() {
        let wform = $('#writeoff-form');
        $.ajax({
            type: "POST",
            url: "/books/writeoff",
            data: wform.serialize(),
            success: function (data,status,xhr) {
                reloadTables();
                $('#writeoffModal').modal('hide');
            }
        });
    }
    function bookEarn() {
        let eform = $('#earning-form');
        $.ajax({
            type: "POST",
            url: "/books/earning",
            data: eform.serialize(),
            success: function (data,status,xhr) {
                console.log(status)
                reloadTables();
                $('#earningModal').modal('hide');
            }
        });
    }

    function reloadTables()
    {
        if ($.fn.dataTable.isDataTable('.schoolbook-table')) {
            $('.schoolbook-table').DataTable().ajax.reload();
        }
        if ($.fn.dataTable.isDataTable('.fictionbook-table')) {
            $('.fictionbook-table').DataTable().ajax.reload();
        }
    }
</script>
</body>
</html>