<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <title>teachers</title>
  <th:block th:insert="~{navbar :: link}">.</th:block>
</head>
<body style="/*noinspection CssUnknownTarget*/background-image: url('/images/Fon.png')">
<header th:insert="~{navbar :: .navbar}">

</header>
<main>
  <div class="d-flex justify-content-center text-muted">
    <h1>
        Тут могла бути ваша реклама!
    </h1>
  </div>
</main>
</body>
<th:block th:insert="~{navbar :: script}">.</th:block>
</html>